.fit-pictire {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1#main-header {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.recipies-header{
    margin-left: 50px;
    margin-right: auto;
    display: block;
    text-align: left;
    color: rgb(175, 86, 27);
}

.receipt-list-block,
.ingredients-block,
.receipt-steps {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    list-style-position: inside;
}

.receipt-description {
    margin-left: 50px;
}

.credits {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.end-horizontal {
    width: 50%;
    margin: 0 auto;
}

ol>li {
    margin:0;
    padding:0 0 0 2em;
    text-indent:-2em;
    list-style-type:none;
    counter-increment:item;
  }
  
ol>li:before {
    display:inline-block;
    width:1.5em;
    padding-right:0.5em;
    font-weight:bold;
    text-align:right;
    content:counter(item) ".";
  }